<section id="History">
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Used</th>
                <th>Course</th>
                <th>Date</th>
                <th class="text-right">Tot</th>
                <th class="text-right">Adj</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let round of rounds">
                <td><span title="accepted">{{round.accepted}}</span></td>
                <td>{{round.courseName}}</td>
                <td>{{round.date | date : 'shortDate' : 'UTC'}}</td>
                <td class="text-right">{{round.total}}</td>
                <td class="text-right">{{round.adjusted}}</td>
            </tr>
        </tbody>
    </table>
</section>