<section id="History">
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Season</th>
                <th>Points</th>
                <th class="text-right">Earnings</th>
                <th class="text-right">KPs</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ss of seasons">
                <td><span>{{ss.seasonId}}</span></td>
                <td class="text-right">{{ss.points | number: '1.2-2'}}</td>
                <td>{{ss.earnings | currency}}</td>
                <td class="text-right">{{ss.kps}}</td>
            </tr>
        </tbody>
    </table>
</section>