<as-page-header title="Photos" [accordion]="acc" [item]="currentFolder" [items]="folders"
  (itemChange)="changeFolder($event)"></as-page-header>
<ngb-accordion #acc="ngbAccordion" [activeIds]="['photos']">
  <ngb-panel id="photos" [title]="currentFolder.label">
    <ng-template ngbPanelContent>
      <section>
        <div class="ml-auto col-md-6 mr-auto">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let photo of photos">
              <img src="http://ppcc.com/asgolf-assets/photos/{{currentFolder.name}}/{{photo.src}}"
                style="width:100%; height:100%">
              <div class="carousel-caption">
                <h5>{{photo.caption}}</h5>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </section>
    </ng-template>
  </ngb-panel>
</ngb-accordion>