<section class="card" *ngIf="showTwoday == true">
  <div class="card-body">
    <h3 class="card-title">Two Day Result</h3>
    <div>
      <p>
        <strong>Day One:</strong> {{twoday.dayOneCourseName}} | <strong>Day Two:</strong> {{twoday.dayTwoCourseName}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 table-responsive" *ngFor="let flt of getFlights()">
        <h5>{{flt}}-Flight</h5>
        <table class="table table-striped">
          <thead>
            <th>Player</th>
            <th class="text-right">HDCP</th>
            <th class="text-right">Day 1</th>
            <th class="text-right">Day 2</th>
            <th class="text-right">Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let score of getScores(flt)">
              <td>{{score.playerName}}</td>
              <td class="text-right">{{score.dayOneHandicap}}/{{score.dayTwoHandicap}}</td>
              <td class="text-right">{{score.dayOne + score.dayOneHandicap}}/{{score.dayOne}}</td>
              <td class="text-right">{{score.dayTwo + score.dayTwoHandicap}}/{{score.dayTwo }}</td>
              <td class="text-right">{{score.total + score.dayOneHandicap + score.dayTwoHandicap}}/{{score.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>