<section id="Editor">
  <ngb-toast style="width:100%" 
    *ngFor="let toast of toastService.toasts" 
    [header]="toast.header" 
    [autohide]="true"
    [delay]="toast.delay || 5000" 
    (hide)="toastService.remove(toast)">{{toast.body}}</ngb-toast>
  <h2>{{tournament.tournament.courseName}}
    <div class="pull-right">
      <button type="button" style="margin-left: 5px" class="btn " (click)="newTournament()">
        <span class="fa fa-file"></span> New</button>
      <button type="button" style="margin-left: 5px" class="btn" (click)="editInfo()">
        <span class="fa fa-cog"></span> Edit</button>
      <button type="button" style="margin-left: 5px" class="btn" (click)="sendTournament()">
        <span class="fa fa-envelope"></span> Send</button>
    </div>
  </h2>
  <p>{{tournament.tournament.date | date : 'shortDate' : 'UTC'}} | {{tournament.tournament.rating | number: '1.1-1' }} | {{tournament.tournament.slope}} |
    {{tournament.tournament.type}}
  </p>
<nav ngbNav #nav="ngbNav" class="nav-tabs">
		<ng-container ngbNavItem>
      <a ngbNavLink>Winners</a>
      <ng-template ngbNavContent>
        <div style="margin:10px">
          <as-winners [tournament]="tournament"></as-winners>
          <as-honeypot [tournament]="tournament"></as-honeypot>
        </div>
      </ng-template>
    </ng-container>
		<ng-container ngbNavItem>
      <a ngbNavLink>Rounds</a>
      <ng-template ngbNavContent>
        <div style="margin:10px">
          <as-rounds [tournament]="tournament"></as-rounds>
        </div>
      </ng-template>
    </ng-container>
		<ng-container ngbNavItem>
      <a ngbNavLink>Kps</a>
      <ng-template ngbNavContent>
        <div style="margin:10px">
          <as-kps [tournament]="tournament"></as-kps>
        </div>
      </ng-template>
    </ng-container>
		<ng-container ngbNavItem>
      <a ngbNavLink>JSON</a>
      <ng-template ngbNavContent>
        <div *ngIf="!env.production" class="pull-left">
          <button type="button" style="margin-left: 5px" class="btn " (click)="saveTournament()">
            <span class="fa fa-save"></span> Save
          </button>
        </div>
        <div style="margin:10px">
          <textarea style="width:100%" rows="20">{{ tournament | compact }}</textarea>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav"></div>
</section>