<section id="GoodBadUgly">
  <as-sub-header [title]="'The Good, The Bad, and The Ugly'"></as-sub-header>
  <p>
    Low Gross, Low Net, High Gross, High Net, and just GROSS
  </p>
  <h3>The Good</h3>
  <p>
    Low scores, gross and net!
  </p>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let entry of getRounds('lowGross')">
            <td>{{data.lowGross.score}}: </td>
            <td>{{entry.playerName}}, {{entry.playDate}}, {{entry.course}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">

      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let entry of getRounds('lowNet')">
            <td>{{data.lowNet.score}}: </td>
            <td>{{entry.playerName}}, {{entry.playDate}}, {{entry.course}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3>The Bad</h3>
  <p>
    High scores, gross and net!
  </p>
  <div class="row">
    <div class="col-md-6">

      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let entry of getRounds('highGross')">
            <td>{{data.highGross.score}}: </td>
            <td>{{entry.playerName}}, {{entry.playDate}}, {{entry.course}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let entry of getRounds('highNet')">
            <td>{{data.highNet.score}}: </td>
            <td>{{entry.playerName}}, {{entry.playDate}}, {{entry.course}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3>The Ugly</h3>
  <p>
    One sad looking hole!
  </p>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let entry of getRounds('uglyHole')">
            <td>{{data.uglyHole.score}}: </td>
            <td>{{entry.playerName}}, {{entry.playDate}}, {{entry.course}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>