<div class="modal-header">
  <h4 class="modal-title">KP</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Flight:</label>
      <div class="col-sm-2">
        <select name="flight" [(ngModel)]="kp.flight" class="form-control">
          <option *ngFor="let flight of flights" [value]="flight">{{flight}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Player:</label>
      <div class="col-sm-6">
        <select name="player" [ngModel]="kp.playerID" (ngModelChange)="changePlayer($event)" class="form-control">
          <option *ngFor="let player of activePlayers" [value]="player.id">{{player.firstName}} {{player.lastName}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Hole:</label>
      <div class="col-sm-2">
        <select name="hole" [(ngModel)]="kp.hole" class="form-control">
          <option *ngFor="let hNum of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" [value]="hNum">{{hNum}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
    <span class="fa fa-ban"></span> Cancel</button>
  <button type="button" class="btn btn-primary" (click)="ok()">
    <span class="fa fa-check"></span> Ok</button>
</div>