<h3>
  {{title}}
  <div *ngIf="items" ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{item?.label}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button *ngFor="let it of items" ngbDropdownItem (click)="changeItem(it)">{{it.label}}</button>
    </div>
  </div>
  <button type="button" class="pull-right btn btn-lg" (click)="toggle()">
    <span class="fa {{showAll ? 'fa-chevron-up': 'fa-chevron-down'}}"></span>
  </button>
</h3>