<section style="margin-bottom:1em" id="TwoDay">
  <p><strong>Day One:</strong> {{twoDay.dayoneCourseName}} | <strong>Day Two:</strong> {{twoDay.daytwoCourseName}}
  </p>
  <div *ngFor="let flt of flights">
    <h4>{{flt}}-Flight</h4>
    <table class="table table-sm table-striped">
      <thead>
        <th>Player</th>
        <th class="text-right">HDCP</th>
        <th class="text-right">Day 1</th>
        <th class="text-right">Day 2</th>
        <th class="text-right">Total</th>
      </thead>
      <tbody>
        <tr *ngFor="let score of twodayScores(flt)">
          <td>{{score.player}}</td>
          <td class="text-right">{{score.handicapOne}} / {{score.handicapTwo}}</td>
          <td class="text-right">{{score.dayone}} / {{score.dayone - score.handicapOne}}</td>
          <td class="text-right">{{score.daytwo}} / {{score.daytwo - score.handicapTwo}}</td>
          <td class="text-right">{{score.total}} / {{score.totalNet}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>