<section style="margin-bottom:1em" id="TwoDay">
  <p><strong>Day One:</strong> {{twoDay.dayOneCourseName}} | <strong>Day Two:</strong> {{twoDay.dayTwoCourseName}}
  </p>
  <div *ngFor="let flt of flights">
    <h4>{{flt}}-Flight</h4>
    <table class="table table-sm table-striped">
      <thead>
        <th>Player</th>
        <th class="text-right">HDCP</th>
        <th class="text-right">Day 1</th>
        <th class="text-right">Day 2</th>
        <th class="text-right">Total</th>
      </thead>
      <tbody>
        <tr *ngFor="let score of twodayScores(flt)">
          <td>{{score.playerName}}</td>
          <td class="text-right">{{score.dayOneHandicap}} / {{score.dayTwoHandicap}}</td>
          <td class="text-right">{{score.dayOne + score.dayOneHandicap}} / {{score.dayOne}}</td>
          <td class="text-right">{{score.dayTwo + score.dayTwoHandicap}} / {{score.dayTwo}}</td>
          <td class="text-right">{{score.total + score.dayOneHandicap + score.dayTwoHandicap}} / {{score.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>