<section id="History">
    <as-sub-header [title]="'History'"></as-sub-header>
    <ngx-charts-line-chart [view]="view" 
        [legend]="legend"

        [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel" [xAxis]="xAxis" 
        [showYAxisLabel]="showYAxisLabel"  [yAxisLabel]="yAxisLabel" [yAxis]="yAxis" 
        
        [timeline]="timeline" [results]="multi"

        (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
</section>