<section id="History" #historycontainer>
    <as-sub-header [title]="'History'"></as-sub-header>
    <div class="form-group">
        <span style="margin-right: 1rem;"><b>Filter: </b></span>
        <div name="type" class="btn-group btn-group-toggle" ngbRadioGroup [ngModel]="filter">
            <label ngbButtonLabel>
                <input ngbButton type="radio" value="all" (click)="refresh('all')" /> From 2021
            </label>
            <label ngbButtonLabel>
                <input ngbButton type="radio" value="" (click)="refresh('')" /> Current Season
            </label>
        </div>
    </div>
    <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel"
        [xAxis]="xAxis" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabel" [yAxis]="yAxis" [results]="multi"
        [timeline]="timeline" (window:resize)="onResize($event)" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
</section>