<as-page-header [title]="'Information'" [accordion]="acc"></as-page-header>
<p></p>
<ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">
    <ngb-panel *ngFor="let section of sections" [id]="section.id" [title]="section.label">
        <ng-template ngbPanelContent>
            <as-officers *ngIf="section.id == 'officers'" ></as-officers>
            <as-minutes *ngIf="section.id == 'minutes'" ></as-minutes>
            <as-rules *ngIf="section.id == 'rules'" ></as-rules>
        </ng-template>
    </ngb-panel>
</ngb-accordion>