<as-page-header [title]="'Player'" [accordion]="acc"></as-page-header>
<p></p>
<ngb-accordion #acc="ngbAccordion" [activeIds]="sections">
    <ngb-panel id="Balance" title="Balance">
        <ng-template ngbPanelContent>
            <as-balance></as-balance>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="History" title="Handi-History">
        <ng-template ngbPanelContent>
            <as-players-chart></as-players-chart>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="Handicaps" title="Handicaps">
        <ng-template ngbPanelContent>
            <as-handicaps></as-handicaps>
        </ng-template>
    </ngb-panel>
</ngb-accordion>