<section id="Birdies">
  <as-sub-header [title]="'U.F.O.s'"></as-sub-header>
  <p>
    Eagles, Birdies, Buzzards, and other Unidentifiable Flying Objects.
  </p>
  <ngb-tabset>
    <ngb-tab title="Gross" id="Gross">
      <ng-template ngbTabContent>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Player</th>
              <th class="text-right">Tournaments</th>
              <th class="text-right">Eagles</th>
              <th class="text-right">Birdies</th>
              <th class="text-right">Pars</th>
              <th class="text-right">Bogeys</th>
              <th class="text-right">Doubles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of data">
              <td>{{entry.name}}</td>
              <td class="text-right">{{entry.rounds}}</td>
              <td class="text-right">{{entry.scores[-2]}}</td>
              <td class="text-right">{{entry.scores[-1]}}</td>
              <td class="text-right">{{entry.scores[0]}}</td>
              <td class="text-right">{{entry.scores[1]}}</td>
              <td class="text-right">{{entry.scores[2]}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Net Adjusted" id="Net">
      <ng-template ngbTabContent>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Player</th>
              <th class="text-right">Tournaments</th>
              <th class="text-right">Eagles</th>
              <th class="text-right">Birdies</th>
              <th class="text-right">Pars</th>
              <th class="text-right">Bogeys</th>
              <th class="text-right">Doubles</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let entry of data">
              <td>{{entry.name}}</td>
              <td class="text-right">{{entry.rounds}}</td>
              <td class="text-right">{{entry.adjusted[-2]}}</td>
              <td class="text-right">{{entry.adjusted[-1]}}</td>
              <td class="text-right">{{entry.adjusted[0]}}</td>
              <td class="text-right">{{entry.adjusted[1]}}</td>
              <td class="text-right">{{entry.adjusted[2]}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>