<section style="margin-bottom:1em" id="Summary">
	<nav ngbNav #nav="ngbNav" class="nav-tabs" (navChange)="beforeChange($event)">
		<ng-container ngbNavItem>
			<a ngbNavLink  id="Points" >Points</a>
			<ng-template ngbNavContent>
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th width="10%">Player</th>
							<th class="text-right" width="5%">Total</th>
							<th class="text-right" width="5%" *ngFor="let tour of tournaments; let ii = index">
								<a style="cursor:pointer" href="#tour_{{tour.id}}-header"
									title="{{tour.courseName}}">{{ii + 1}}</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let entry of standings">
							<td>{{entry.playerName}}</td>
							<td class="text-right">{{entry.points}}</td>
							<td class="text-right" *ngFor="let pts of entry.pointsByTour">
								<span *ngIf="pts != 0">{{ pts }}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem>
			<a ngbNavLink>Earnings</a>
			<ng-template ngbNavContent>
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th width="10%">Player</th>
							<th class="text-right" width="5%">Total</th>
							<th class="text-right" width="5%" *ngFor="let tour of tournaments; let ii = index">
								<a role="button" pageScroll href="#tour_{{tour.id}}" title="{{tour.courseName}}">{{ii +
									1}}</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let entry of standings">
							<td>{{entry.playerName}}</td>
							<td class="text-right">{{entry.earnings | currency }}</td>
							<td class="text-right" *ngFor="let pts of entry.earningsByTour">
								<span *ngIf="pts != 0">{{ pts | currency }}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem>
			<a ngbNavLink>Kps</a>
			<ng-template ngbNavContent>
				<table class="table  table-sm  table-striped">
					<thead>
						<tr>
							<th width="10%">Player</th>
							<th class="text-right" width="5%">Total</th>
							<th class="text-right" width="5%" *ngFor="let tour of tournaments; let ii = index">
								<a role="button" pageScroll [href]="'#tour_' + tour.id" title="{{tour.courseName}}">{{ii
									+ 1}}</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let entry of standings">
							<td>{{entry.playerName}}</td>
							<td class="text-right">{{entry.kps}}</td>
							<td class="text-right" *ngFor="let pts of entry.kpsByTour">
								<span *ngIf="pts != 0">{{ pts }}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</ng-template>
		</ng-container>
	</nav>
	<div [ngbNavOutlet]="nav"></div>
</section>