<section id="Handicaps">
	<p>Course adjusted handicaps for the white tees. Click on a row to see player's history.</p>
	<div class="row">
		<div class="col-md-6">
			<span>Course:</span>
			<select name="course" [(ngModel)]="selectedCourseTee">
				<option *ngFor="let entry of courseTees" [ngValue]="entry">{{entry.course.name}}  {{entry.tee.slope}}/{{entry.tee.rating}}</option>
			</select>
		</div>
		<div class="col-md-offset-4 col-md-2">
			<input type="checkbox" [(ngModel)]="activeOnly" />
			<span>Active Only</span>
		</div>
	</div>
	<table class="table table-hover table-striped">
		<thead class="thead-default">
			<th width="50%"><a role="button" style="cursor: pointer" (click)="changeSort('ply')">Player</a></th>
			<th class="text-right" width="25%"><a role="button" style="cursor: pointer"
					(click)="changeSort('ind')">Index</a></th>
			<th class="text-right" width="25%"><a role="button" style="cursor: pointer"
					(click)="changeSort('adj')">Adjusted</a></th>
		</thead>
		<tbody>
			<tr role="button" *ngFor="let player of getPlayers()" (click)="open(content, player)">
				<td>{{player.firstName}} {{player.lastName}}</td>
				<td class="text-right">{{ getHandicap(player) | number:'1.2-2' }}</td>
				<td class="text-right">{{ getHandicap(player) | ASSlopeAdjusted : selectedCourseTee.tee | number:'1.0-0'}}</td>
			</tr>
		</tbody>
	</table>
</section>
<ng-template ngbModalContainer #content let-c="close" let-d="dismiss">
	<div>
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">{{selectedPlayer.firstName}} {{selectedPlayer.lastName}} : <small>{{selectedPlayer.hdcp | number: '1.1-1'}}</small></h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<table class="table table-hover">
				<thead class="thead-default">
					<tr>
						<th>Used</th>
						<th>Course</th>
						<th>Date</th>
						<th class="text-right">Tot</th>
						<th class="text-right">Adj</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let round of selectedPlayer.rounds">
						<td><span title="accepted">{{round.accepted}}</span></td>
						<td>{{round.course}}</td>
						<td>{{round.date}}</td>
						<td class="text-right">{{round.total}}</td>
						<td class="text-right">{{round.adjusted}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</ng-template>