<section id="WhereWePlayed">
  <as-sub-header [title]="'Where We Played'"></as-sub-header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-left"><a role="button" style="cursor: pointer"
          (click)="changeSort('name')"
          title="Sort by course name">Course</a></th>
        <th class="text-right"><a role="button" style="cursor: pointer"
          (click)="changeSort('played')"
          title="Sort by number of times played">Played</a></th>
        <th>
          <a class="btn" role="button" (click)="goLeft()" [ngClass]="{'disabled':!showLeft()}">
            <span class="fa fa-arrow-left"></span>
          </a>
        </th>
        <th *ngFor="let year of seasonRange"><a role="button" style="cursor: pointer"
          (click)="changeSort('year', year)"
          title="Sort by if played this year">{{year}}</a></th>
        <th>
          <a class="btn" role="button" (click)="goRight()" [ngClass]="{'disabled': !showRight()}" >
            <span class="fa fa-arrow-right"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.name}}</td>
        <td class="text-right">{{getCount(course)}}</td>
        <td></td>
        <td *ngFor="let year of seasonRange">
          <a *ngIf="hasPlayed(course, year)" routerLink="/tournament/{{year}}/{{hasPlayed(course, year).tournamentId}}"><span class="fa fa-check"></span></a>
        </td>
        <th></th>
      </tr>
    </tbody>
  </table>
</section>