<section id="OnDeck">
  <p class="card-text">Adjusted handicaps
    <select name="course" [ngModel]="course" (ngModelChange)="changeCourse($event)">
      <option *ngFor="let entry of courses" [ngValue]="entry">{{entry.name}}</option>
    </select>
  </p>
  <table class="table table-condensed">
    <thead class="thead-default">
      <tr>
        <th class="text-left" rowspan="2">Player</th>
        <th class="text-right" rowspan="2">Index</th>
        <th class="text-right" *ngFor="let tee of courseTees">{{tee.name}}</th>
      </tr>
      <tr>
        <th class="text-right" *ngFor="let tee of courseTees">{{tee.slope}} / {{tee.rating}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players | ASActivePlayer: true">
        <td class="text-left">{{player.firstName}} {{player.lastName}}</td>
        <td class="text-right" width="20%">{{getHandicap(player) | number: '1.1-1' }}</td>
        <td class="text-right" width="20%" *ngFor="let tee of courseTees">{{getHandicap(player)| ASSlopeAdjusted : tee | number:'1.0-0'}}</td>
      </tr>
    </tbody>
  </table>
</section>