<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <th>
        <button type="button" class="btn btn-sm" (click)="newRound()">
          <span class="fa fa-plus"></span>
        </button>
      </th>
      <th>FLT</th>
      <th>Player</th>
      <th class="text-right">HDCP</th>
      <th class="text-right">FRT</th>
      <th class="text-right">BCK</th>
      <th class="text-right">Score</th>
      <th class="text-right">FRT Net</th>
      <th class="text-right">BCK Net</th>
      <th class="text-right">Net</th>
    </thead>
    <tbody>
      <tr *ngFor="let round of rounds">
        <td>
          <button type="button" class="btn btn-sm" (click)="editRound(round)">
            <span class="fa fa-pencil"></span>
          </button>
          <button type="button" class="btn btn-sm" (click)="deleteRound(round)">
            <span class="fa fa-trash"></span>
          </button>
        </td>
        <td>{{round.flight}}</td>
        <td>{{round.player}}</td>
        <td class="text-right">{{round.hdcp}}</td>
        <td class="text-right">{{round.front}}</td>
        <td class="text-right">{{round.back}}</td>
        <td class="text-right">{{round.total}}</td>
        <td class="text-right">{{round.frontNet}}</td>
        <td class="text-right">{{round.backNet}}</td>
        <td class="text-right">{{round.totalNet}}</td>
      </tr>
    </tbody>
  </table>
</div>