<section>
  <p class="card-text">Last Updated: {{balances.lastUpdated}}</p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th rowspan="3">Player</th>
          <th rowspan="3">Paid</th>
          <th rowspan="2">Dues</th>
          <th *ngFor="let tour of balances.tournaments">{{tour.date}}</th>
          <th rowspan="2">Balance</th>
        </tr>
        <tr>
          <th class="text-right" *ngFor="let tour of balances.tournaments">{{tour.course}}</th>
        </tr>
        <tr>
          <th class="text-right">{{balances.dues }}</th>
          <th class="text-right" *ngFor="let tour of balances.tournaments">{{tour.cost}}</th>
          <th class="text-right">{{balances.total }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of balances.players">
          <td>{{player.name}}</td>
          <td class="text-right">{{player.amountPaid | currency }}</td>
          <td class="text-right">{{player.dues | currency }}</td>
          <td class="text-right" *ngFor="let cost of player.costs">{{cost | currency}}</td>
          <td class="text-right">{{player.total | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>