/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body { 
  margin-top: 70px;
  scroll-behavior: auto;
}

.subhead {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

section {
  margin-bottom: 5px;
}

.form-label {
  margin-right: 1em;
}